body{
  background-color: #000;
}
.r {
  height: 56px;
  width: 43px;
  flex-shrink: 0;
}
.amakrishna {
  min-width: 106px;

  color: #bf7474;
}
.content-panel{
  display: inline-flex;
}
.profile {
 
}
.profile {
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  margin-left: -10px;
  font-size: var(--font-size-17xl);
  color: #bf7474;
}
.content-panel {
  flex-direction: row;
  padding: 0 0 var(--padding-lg);
}
.llo,.S{
  
  display: inline-block;
  color: var(--color-white);
}
.He{
  margin-left: 2px;
}
.hello {
  margin: 0;
  width: 174px;
  height: 76px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}
.ramakrishna-t,
.span {
  white-space: nowrap;
  color: var(--color-white);
}
.im-ramakrishna-t-container {
  margin: 0;
  width: 428px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
}
.job-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.span1 {
  font-size: var(--font-size-11xl);
}
.jrjava-developer {
  position: relative;
  font-family: var(--font-fanwood-text);
  color: var(--color-white);
  font-size: var(--font-size-29xl);
}
.greeting-panel,
.intro-content,
.introduction-panel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.I,.Am,.The, .ramakrishna-t{
display: inline-block;

}
.intro-content {
  flex: 1;
  flex-direction: column;
  gap: 1px;
}
.greeting-panel,
.introduction-panel {
  align-self: stretch;
}
.introduction-panel {
  flex-direction: row;
  padding: 0 0 0 var(--padding-14xl);
  box-sizing: border-box;
  font-family: var(--font-ephesis);
}
.greeting-panel {
  flex-direction: column;
  gap: 69px;
  font-size: var(--font-size-45xl);
  color: var(--color-chocolate);
  font-family: var(--font-chivo);
}

.download-cv {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  mix-blend-mode: screen;
  z-index: 1;
}

.button {
  width: 221px;
  border-radius: var(--br-3xs);
  background-color: var(--color-chocolate);
  flex-direction: row;
  padding: var(--padding-xs) 0 var(--padding-smi) var(--padding-5xs);
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  font-family: var(--font-abyssinica-sil);
}
.main-content {
  width: 514px;
  flex-direction: column;
  gap: 106px;
  min-width: 514px;
  max-width: 100%;
}

.home {
  color: #EF741B;
}
.contact-icon {
  width: 745.7px;
  height: 690.4px;
  position: absolute;
  margin: 0 !important;
  right: -76.7px;
  bottom: 0;
  border-radius: 81px;
  object-fit: contain;
}
.contact1 {
  margin: 0;
}
.contact {
 z-index: 10;
  cursor: pointer;
}


.my_img{
  
  margin-top: 100px;
}


.about1 {
  margin: 0;
}
.about {
  
  z-index: 10;
  cursor: pointer;
}

.education1 {

  margin: 0;
}
.education {
  z-index: 10;
  cursor: pointer;
}

.projects,
.skills {

  cursor: pointer;
  z-index: 10;
  
}
.desktop-1{
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  text-align: left;
  color: var(--color-white);
}

.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 120px 130px var(--padding-24xl) 125px;
  line-height: normal;
  letter-spacing: normal;
  gap: var(--gap-xl);
  font-size: var(--font-size-29xl);
  font-family: var(--font-ingrid-darling);
}

.nav_link{
  width: 70%;
  font-family:inika ;
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
}

@media screen and (max-width: 640px) {
  .content-panel{
    display: inline-flex;
  }
  .r{
    margin-top: -100px;
    font-size: 10px;
  }
  .amakrishna{
    font-size: 8px;
    margin-left:-36px ;
    margin-top: -96px;
  }
  .hello{
    margin-top: -150px;
    font-size: 0.5rem;
  }
  .introduction-panel{
    font-size: 0.5rem;
  }
  .jrjava-developer{
    margin-top: -18px;
    font-size: 0.5rem;
  }
  .two{
    margin-top: -120px;
  }

  .button{
    margin-top: -80px;
    width: 50.5px;  /* Original was 221px */
    height: 8px;    /* Original was 66px */
    padding-top:0px ; /* Adjusted padding */
    font-size: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .download-cv{
    margin-top: 12px;
    margin-left: -2px;
  }
  .contact-icon {
    width: 100%;   
    height: auto;  
    position: relative; 
    margin: 0 auto; 
    border-radius: 50%; 
     /* Temporary background color for debugging */
  }
  .contact-link {
    position: relative; 
    overflow: visible; /* Ensure the image is not being clipped */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-icon {
    z-index: 10; /* Make sure the image is on top of other elements */
  }

  .my_img{
    width: 40%;   /* Adjust as needed */
    height: 30%; /* Maintain aspect ratio */
    display: block; 
    margin-top: -150px; 
  } 

  
}

@media screen and (max-width: 450px) {

}



